<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/executive-list.html">Executives</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://twitter.com/AIIMSRDA">Twitter</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.facebook.com/RDA.AIIMS">Facebook</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://www.aiims.edu/en.html">AIIMS <i class="fa fa-heartbeat text-danger"></i></a>
</li>
