<h5 class="mb-3">Almanac: The AIIMS RDA blog</h5>

<p>This blog was created by Dr.Naaz Afreen, Ladies Representative on behalf of RDA 2020-21.</p>

<a target="_blank" href="https://gitlab.com/rda-aiims" class="btn btn-warning d-block mb-2"><i class="fab fa-gitlab"></i> Gitlab</a>

<a target="_blank" class="btn btn-danger d-block" href=""><i class="fab fa-twitter"></i> Twitter</a> 